*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: dodgerblue;
    width: 100%;
    height: 20vh;
    color: white;
}

nav{
    background-color: silver;
    height: 5vh;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
}

nav ul li{
    flex: 1;
    text-align: center;
    line-height: 5vh;
}

nav ul li a{
    text-decoration: none;
}

section{
    min-height: 55vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 15px;
    padding: 15px;
}

.cards{
    display: block;
    text-decoration: none;
    height: 300px;
    background-color: aquamarine;
    padding: 10px;
}


.cards .title{
    font-size: 2em;
    margin-bottom: 15px;
}

.container{
    min-height: 55vh;
}

.search{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 15px 10px;
    padding: 15px;
}